@font-face {
  font-family: 'Aeonik';
  src: url('Aeonik/Aeonik-Regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Aeonik';
  src: url('Aeonik/Aeonik-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Aeonik';
  src: url('Aeonik/Aeonik-Bold.otf');
  font-style: normal;
  font-weight: 700;
}
