@font-face {
  font-family: 'SF Pro Display';
  src: url("SFProDisplay/SFProDisplay-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("SFProDisplay/SFProDisplay-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("SFProDisplay/SFProDisplay-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("SFProDisplay/SFProDisplay-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("SFProDisplay/SFProDisplay-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("SFProDisplay/SFProDisplay-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("SFProDisplay/SFProDisplay-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("SFProDisplay/SFProDisplay-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("SFProDisplay/SFProDisplay-Ultralight.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
